
.main-content {    
    display: flex;
    justify-content: center;
    align-items: center;
}
  
.content {
    display: flex;
/*
*
*PROBLEMMMMM PADDING
*
**/

/* padding: 15rem; */
}
  

.localVideo {
    height: 8rem;
    width: auto;
    align-self: flex-end;
    position: absolute;
    right: 0;
    bottom: 0;
}

.remoteVideo {
    height: auto;
    align-self: center;
}

.bg-main {
    position: absolute;
}
.app-contacts {
    background-color: white;
}

  /*
    Media queries
  */
  /* @media screen and (max-width: 1400px) {
    .remoteVideo {
        
    }
    .localVideo {
    }
  }  */
