<section class="main-content container">
  <div class="row no-gutters">
      <div class="col-md-8 col-lg-9 col-xl-10 content logo__img--grayblue bg-image">
        <div class="row align-items-end justify-content-center">
          <video id="remoteVideo" class="remoteVideo col-lg-8" autoplay></video>
          <video id="localVideo" class="localVideo col-lg-4" muted autoplay ></video>
        </div>
      </div>
      
      <app-contacts-list class="col-md-4 col-lg-3 col-xl-2 justify-content-end"></app-contacts-list>
  </div>
</section>
  