<h2 class="text-center my-2">    
    <i class="fas fa-users w-100"></i>
    Contacts
</h2>
<hr class="title-separator">
<div class="col-12 container-fluid">
    <div class="row"> 
        <app-contacts-search (textCleared)="onTextClear($event)" (textChanged)="onTextChange($event)" class="col-12"></app-contacts-search>
    </div>
    <div class="row">
        <app-contacts-list 
            [isResultsList]="isResultsList" 
            [users]="fetchedUsers" 
            [contacts]="contactsToShow" 
            (onCall)="onCall($event)" 
            (onAddContact)="onAddContact($event)" 
            class="contacts-list col-12"></app-contacts-list>
    </div>
</div>
