<h1>Contacts</h1>
<div class="col-md-8 col-md-offset-2 container-fluid">
    <div class="row">
        
    <app-contacts-list></app-contacts-list>
        <!-- <form [formGroup]="form" (ngSubmit)="onSubmit()">
            <div class="form-group">
                <label for="username">Username</label>
                <input type="text"
                    id="username"
                    class="form-control"
                    formControlName="username">
            </div> 
    
            <button 
                class="btn btn-primary"
                type="submit"
                [disabled]="!form.valid">Search</button>
        </form> -->
    </div>
    <!-- <div class="row">
        <ul class="list-group">
            <li class="list-group-item d-flex flex-row align-items-center" 
                *ngFor="let user of users; let i = index">
                <div class="info col-9">
                    <h5>{{ user.username }}</h5>
                    <small>{{ user.firstName }} {{ user.secondName }}</small>
                </div>
                <div class="actions col-3">
                    <a (click)="onAddContact($event)" [attr.data-index]="i">Add</a>
                </div>
            </li>
        </ul>
    </div> -->
</div>
