body {
  margin: 0 auto;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
  cursor: pointer;
}

a:hover,
a:active {
  color: #00B7FF;
  text-decoration: underline;
}

a.danger {
  color: red;
}

.spacing {
  margin-bottom: 20px;
}

input.ng-invalid.ng-touched {
  border: 1px solid red;
}

app {
  margin: 0;
}


/*
  Estilos globales de la aplicación
*/



/**********************
Classes BEM
*********************/



/** Logo */
.logo {
  max-width: 4rem;
  min-width: 4rem;
  width: 4rem;
  height: 4rem;
  background-size: 4rem!important;
}

/*** Logo elements */
.logo__img {    
  width: 100%;
  height: 100%;
}

/**** Logo modifications */

.bg-image {
  width: 3.5rem;
  height: 3.5rem;
  background-size: 3.5rem !important;
  background-repeat: no-repeat;
  background-position: center;
}

.bg-main {
  position: relative;
  z-index: 1; 
}
.logo__img--white {    
  background-image: url("/img/logo/peeker-white-med.png");
}

.logo__img--primary {    
  background-image: url("/img/logo/peeker-green-med.png");
}

.logo__img--grayblue {    
  background-image: url("/img/logo/peeker-grayblue-med.png");
} 

.logo__img--glitter {    
  background-image: url("/img/logo/peeker-glitter-med.png");
}

.logo__img--inverted-white {    
  background: url("/img/logo/peeker-inverted-yellow-med.png");
}

.logo__img--inverted-primary {    
  background-image: url("/img/logo/peeker-inverted-green-med.png");
}

.logo__img--inverted-grayblue {    
  background-image: url("/img/logo/peeker-inverted-grayblue-med.png");
} 

.logo__img--inverted-glitter {    
  background-image: url("/img/logo/peeker-inverted-glitter-med.png");
}

.logo__img--inverted-dark {    
  background-image: url("/img/logo/peeker-inverted-dark-med.png");
}

/* Background colors */

.bg--primary {
  background-color: #1b998B
}

.bg--orange {
  background-color: #ef8354
}

.bg--white {
  background-color: #ffffff
}

.bg--black {
  background-color: #000000
}

.bg--grayblue {
  background-color: #4f5d75
}

.bg--glitter {
  background-color: #e7ecef
}

.bg--dark {
  background-color: #272932
}

/* Colors */

.color--orange {
  color: #ef8354
}

.color--white {
  color: #ffffff
}

.color--black {
  color: #000000
}

.color--grayblue {
  color: #4f5d75
}

.color--glitter {
  color: #e7ecef
}

.color--dark {
  color: #272932
}

.margin-top--2 {
  margin-top: 2rem;
}

.margin-top--1 {
  margin-top: 1rem;
}

.border-tabbed {
  border: 1px solid transparent;
  border-color: white #dee2e6 #dee2e6 #dee2e6;
}

app-authentication {
  margin: 4rem 0 4rem 0;
}

/*
  Call global styles
*/

.on-screen {
  background-color: rgb(80, 80, 255);
  height: 100%;
  max-width: 100%;    
}

.on-call-btn,.received-call-btn {
  visibility: hidden;    
  border-radius: 50%;
  width: 4rem;
  height: 4rem;  
  color: white;
}

.call-phone {
  transform: rotate(90deg);
}

.hangup-phone {
  transform: rotate(225deg);
}

.hangup-btn {
  background-color: #bb0000;
}

.on-call-btn:hover,.received-call-btn:hover,.on-call-btn.active-btn,.received-call-btn.active-btn {
  background-color: white;
}

.mute-btn:hover,.pause-btn:hover,.pickup-btn:hover,.pickup-btn.active-btn,.mute-btn.active-btn,.pause-btn.active-btn {
  color: #1b998B;
}

.hangup-btn:hover,.hangup-btn.active-btn {
  color: #bb0000;
}