<div class="col-8 col-md-4 col-xl-3 container">    
    <header class="row pt-3">
        <ul class="nav nav-tabs w-100 row no-gutters justify-content-between">
            <li class="nav-item col-6"><a class="nav-link color--white bg--primary" routerLinkActive="active" [routerLink]="['signin']">Sign in</a></li>
            <li class="nav-item col-6"><a class="nav-link color--white bg--primary" routerLinkActive="active" [routerLink]="['signup']">Sign up</a></li>
        </ul>
    </header>
    <div class="row bg-white border-tabbed auth-body justify-content-center">
        <router-outlet></router-outlet>
    </div>
</div>