<div class="row justify-content-center">
    <div class="col-md-8 col-md-offset-2">
        <form [formGroup]="form" (ngSubmit)="onSubmit()">
            <div class="form-group">
                <label for="name" class="color--primary">E-mail</label>
                <input type="text"
                    id="email"
                    class="form-control"
                    formControlName="email">
            </div> 
    
            <div class="form-group">
                <label for="username" class="color--primary">Username</label>
                <input type="text"
                    id="username"
                    class="form-control"
                    formControlName="username">
            </div>
            
            <div class="form-group">
                <label for="firstName" class="color--primary">First name</label>
                <input type="text"
                    id="firstName"
                    class="form-control"
                    formControlName="firstName">
            </div>        
    
            <div class="form-group">
                <label for="secondName" class="color--primary">Second name</label>
                <input type="text"
                    id="secondName"
                    class="form-control"
                    formControlName="secondName">
            </div>        
            <div class="form-group">
                <label for="password" class="color--primary">Password</label>
                <input type="password"
                    id="password"
                    class="form-control"
                    formControlName="password">
            </div>
    
            <button 
            class="btn bg--primary color--white"
                type="submit"
                [disabled]="!form.valid">Register</button>
        </form>
    </div>
</div>
